body {
    /* background-color: rgb(42, 130, 217); */
    background: url(./img/more-leaves.png) repeat 0 0;
    color: rgb(16, 16, 15);
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-style: italic;
}

img {
    height: auto;
    width: 200px;
    border-radius: 35px;
    margin-right: 10px;
    /* border: 3px red solid; */
    padding: 30px;
}

#tagline {
    color: rgb(9, 9, 8);
}

#all-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    color: whitesmoke;
    font-size: 1.2rem;
    width: 200px;
    white-space: wrap;
    /* text-align: center; */
    padding: 30px;
}

li {
    display: inline;
    cursor: pointer;
}

.active {
    background-color: black;
    transition: 0.5s ease;
}

#nav-bar {
    text-align: center;
    font-size: 2.2rem;
    color: red;
    background-color: aqua;
}

#the-restaurant-image {
    width: auto;
    height: 600px;
    text-align: center;
    border-radius: 100px;
    /* margin-left: 20%; */
}

#main-img {
    display: flex;
    justify-content: center;
}
